
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}


body {
  background-color: #f4f7fb;
  line-height: 1.6;
  /*padding-top: 60px;*/
}


.navbar {
  background-color: #003366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffd166;
  font-weight: bold;
}

.hero {
  background-image: url('../media/light-blue-website-background-image.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;   
  text-align: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 100px 20px;
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius:50px ;
  opacity: 0.85; 
  mix-blend-mode: lighten;
  margin-bottom: 20px;
}
.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background-color: #003366;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

h3{
  margin-bottom: 10px;
}


.btn:hover {
  background-color: #0055aa;
}

caption {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #172b4d;
}

.table1 {
  width: 90%;
  margin: 100px auto;
  border-collapse: collapse;
  font-size: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}



thead {
  background-color: #ffd166;
}

th, td {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
}

/*tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}*/

.current-learning{
  margin-bottom: 45px;
}

.about-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-text {
  width: 50%;
  color: #172b4d;
}

.about-text h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.about-text h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 15px;
}
.about-cards {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.info-card {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid #003366;
  border-radius: 15px;
  transition: 0.3s;
}
.info-card h3 {
  color: #003366;
  margin-bottom: 10px;
}
.info-card p {
  color: #333;
  line-height: 1.5;
}

.info-card:hover {
  transform: translateY(-8px);
  box-shadow: 5px 5px 0px #003366;
}



#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contact-container {
    width: 100%;
    max-width: 1100px;
}
.contact-heading {
    text-align: center;
    margin-bottom: 40px;
}
.contact-heading h1 {
    font-size: 45px;
    color: #172b4d;
    margin-bottom: 10px;
}
.contact-heading p {
    font-size: 18px;
    color: #333;
}
.contact-content {
    display: flex;
    gap: 50px;
    color:black
}
.contact-info {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border: 2px solid #003366;
    border-radius: 15px;
}
.contact-info h2 {
    color: #003366;
    margin-bottom: 25px;
}
.contact-info p {
    font-size: 17px;
    margin-bottom: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #172b4d;
  color: white;
}

