.outbox{
    background-image: url('../media/pexels-anntarazevich-6712383.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    border:solid;
    margin-top:20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.h1{
  text-transform: uppercase;
  font-weight: bold;
  border: solid 2px;
  background-color:  rgb(212, 172, 97);

}

.table1{
    /*padding: 0px 50px 0px 50px;*/
    border-collapse: collapse;
    font-size: 18px;
    margin:200px 200px 200px 200px;
    box-shadow: gray;
    
}



thead{
    background-color: rgb(212, 172, 97);
}

th, td {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/*tbody tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}*/
.title{
  border: solid;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 45px;
  text-transform: uppercase;
}