*{
    margin:0px;
    padding: 0px;
}
.red1{
    border: 2px solid red;
    background-color: red;
    color: red;
    width: 1200px;
    height: 190px;
    position: relative;
    top:250px;
    left:650px;
}

.window{
    display: flex;
}

.window1{
    position:absolute;
    top:15px;
    left:50px;
    background-color: aliceblue;
    width:300px;
    height: 300px;
    border-radius: 20px;
}

.window2{
    position:absolute;
    top:15px;
    left:600px;
    background-color: aliceblue;
    width:300px;
    height: 300px;
    border-radius: 20px;
}

.red2 {
    border: 2px solid red;
    background-color: red;
    color: red;
    width: 2000px;
    height: 290px;
    position: relative;
    top: 250px;
    left: 300px;
    text-align: center;
    border-radius: 20px;
}

.tyre1{
    background-color:black;
    color: white;
    width: 300px;
    height: 300px;
    position: relative;
    top: 250px;
    margin-left: 600px;
    border-radius: 100%;
    text-align: center;
   /*animation: tyres 2s linear infinite;*/
}

.tyre2{
    background-color:black;
    color:white;
    width: 300px;
    height: 300px;
    position: relative;
    top: 250px;
    margin-left:600px;
    border-radius: 100%;
    text-align: center;
    /*animation: tyres 2s linear infinite;*/
}
.bottom{
    display: flex;
   
}
/*
.tyre1:hover{
    transform: rotate(360deg);
}

.tyre2:hover{
    transform: rotate(360deg);
}*/

.car{
    animation: move 2s linear infinite;
}

@keyframes tyres{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes move{
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(1000px);
    }
}