*{
    margin:0px;
    padding: 0px;
}

.background{
    background-image: url('../media/yf38_m8zv_220226.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

img {
    margin-top: 1300px;
    width:50%;
    border: 2px solid black;
}

.buttons{
    display:flex;
}

.btn{
    border: 2px solid red;
    font-size: x-large;
    margin-bottom: 50px;
    width: 100px;
}