
* {
    margin: 0px;
    padding: 0px;
}

.background {
    background-image: url('../media/yf38_m8zv_220226.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Hide the radio buttons */
input[type="radio"] {
display: none;
}


/* Start and Stop button design */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

/* Change the selected button color */
input[type="radio"]:checked + .btn {
    background: #0056b3;
}

.bus {
    position: relative;
}

/* When Start is selected */
#start:checked ~ .background .bus {
    animation: school-bus 5s linear infinite;
}

/* When Stop is selected */
#stop:checked ~ .background .bus {
    animation: none;
}

img {
    margin-top: 1300px;
    width: 50%;
}

@keyframes school-bus {

    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(2000px);
    }
}

