*{}
.red1{
    border: 2px solid red;
    background-color: red;
    color: red;
    width: 25%;
    height: 90px;
    position: relative;
    top:250px;
    left:450px;
}

.window{
    display: flex;
}

.window1{
    position:absolute;
    top:15px;
    left:20px;
    background-color: aliceblue;
    width:150px;
    height: 70px;
    border-radius: 20px;
}

.window2{
    position:absolute;
    top:15px;
    left:200px;
    background-color: aliceblue;
    width:150px;
    height: 70px;
    border-radius: 20px;
}

.red2 {
    border: 2px solid red;
    background-color: red;
    color: red;
    width: 50%;
    height: 100px;
    position: relative;
    top: 250px;
    left: 300px;
    text-align: center;
      border-radius: 20px;
}

.tyre1{
    background-color:black;
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    top: 250px;
    margin-left: 400px;
    border-radius: 100%;
    text-align: center;
     animation: tyres 2s linear infinite;
}

.tyre2{
    background-color:black;
    color:white;
    width: 100px;
    height: 100px;
    position: relative;
    top: 250px;
    margin-left:350px;
    border-radius: 100%;
    text-align: center;
    animation: tyres 2s linear infinite;
}
.bottom{
    display: flex;
   
}
/*
.tyre1:hover{
    transform: rotate(360deg);
}

.tyre2:hover{
    transform: rotate(360deg);
}*/

.car{
    animation: move 2s linear infinite;
}

@keyframes tyres{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes move{
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(1000px);
    }
}