*{
    margin:0px;
    padding: 0px;
    border: 2px solid red;
    height: 100%;
}
.containermain{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
}

.containermain div {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    gap: 10px;
    margin-top: 100px;
    margin-left: 35px;
    justify-content: space-around;
    padding:20px;
    box-shadow: 10px 10px 0.5px gray;
}