*{
    margin: 0px;
    padding: 0px;
}
.backgrnd{
    background-color: rgb(60, 148, 225);
}

.menu{
    background-color: rgb(5, 53, 96);
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.right{
    font-size: 100px;
    color: white;
    padding-top: 70px;
}

.left{
    font-size: 100px;
    padding-top: 70px;
}

.list{
    list-style-type: none;
    display: flex;
    gap: 100px;
}

.list a{
    color: white;
    text-decoration: none;
}

li .sublist{
    list-style-type: none;
    display: none;
}

.list a:hover{
    color:yellow;
    border: 2px solid black;

}
.list li:nth-child(3):hover .sublist {
    margin-top: 50px;
    padding-top: 10px;
    display: block;
    border: 2px solid black;
    color: white;
    background-color:  rgb(5, 53, 96);
}